.nav-item nav_footer{
    color: white!important;
    cursor: pointer;
}

#verde{
    color: #29ad48!important;
    cursor: pointer;
}

footer{
    background-image: linear-gradient(to right,#1c3643,#1d5271);
}